$default: (
    text: #4c6932,
    main: #96be74,
    main-light: #cee2bc,
	main-transparent: #97be74bd,
	player: #6183af,
	player-transparent: #6183af81,
	target: #68b362,
	target-transparent: #67b3627c,
	pitfalls: #af6161,
	pitfalls-transparent: #af616160,
);

$dark: (
    main: #546475
);

$light: (
    main: #caccce
);

@function serialize-map($values: ()) {
	$vars: "{";
	@each $name, $value in $values {
		$vars: $vars + '"' + $name + '"' + ':' + '"' + $value + '",';
	}
	$vars: $vars + '}';

	@return $vars;
}

#default-theme {
	&:before {
		display: none;
		content: serialize-map($default);
	}
}

#dark-theme {
	&:before {
		display: none;
		content: serialize-map($dark);
	}
}

#light-theme {
    &:before {
		display: none;
		content: serialize-map($light);
	}
}