@use 'animations';
@use 'loader';
@use 'colors';
@use "sass:map";

#application {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    transition: transform .3s ease-in-out;
}

.menu-container {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: map.get($map: colors.$default, $key: "main");

    pointer-events: all;
    
}

#button-continue {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px;
}

.button-menu {
    margin: 10px 0;

    color: map.get($map: colors.$default, $key: "text");
    background: map.get($map: colors.$default, $key: "main-light");
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;

    user-select: none;
    cursor: pointer;
}

.button-game {
    position: absolute;
    z-index: 10;
}

#button-home {
    top: 0;
    left: 0;

    margin: 10px;
    height: 20px;
    width: 20px;

    padding: 10px;
    border-radius: 50%;
    background: map.get($map: colors.$default, $key: "main");

    cursor: pointer;

    & > svg {
        color: white;
        height: 20px;
        width: 20px;
        pointer-events: none;
    }
    
}

#mode-indicator {
    top: 0;
    right: 0;

    margin: 10px;
    height: 20px;
    width: 20px;

    padding: 10px;
    border-radius: 50%;
    background: map.get($map: colors.$default, $key: "main");

    & > svg {
        color: white;
        height: 20px;
        width: 20px;
        pointer-events: none;
    }
}

.button {
    // box-shadow: 0 0 3px darkslategray;
}

#hint-container {
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 100%;
    z-index: 10;

    display: flex;
    flex-direction: column;

    transform: translateY(calc(100% - 25px));
    transition: transform .3s ease-in-out;
    &.active {
        transform: translateY(0);
    }
}

#hint-button {
    flex-shrink: 0;
    margin: 0 auto;
    width: 100%;
    height: 28px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    cursor: pointer;

    padding: 0 6px;

    color: map.get($map: colors.$default, $key: "text");
    background: map.get($map: colors.$default, $key: "main-light");
}

#hint-content {
    background-color: map.get($map: colors.$default, $key: "main");
    height: 100%;
}

#hint-text {
    padding: 10%;
    color: white;
}

.mask {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-container {
    background-color: map.get($map: colors.$default, $key: "main");
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    user-select: none;

    transform: scale(0);
    transition: transform .3s ease-in-out;

    &.active {
        transform: scale(1);
    }
}

.content-over {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.button-over {
    color: map.get($map: colors.$default, $key: "text");
    background: map.get($map: colors.$default, $key: "main-light");
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;

    user-select: none;
    cursor: pointer;
}