@use 'sass:color';

$player: #6183af;
$player-transparent: #6183af7a;
$target: #68b362;
$target-transparent: #67b36280;
$bonus: #61afa8;
$bonus-transparent: #61afa880;
$pitfalls: #af6161;
$pitfalls-transparent: #af616177;

.player { background-color: $player; }
.player-transparent { background-color: $player-transparent; }
.target { background-color: $target; }
.target-transparent { background-color: $target-transparent; }
.bonus { background-color: $bonus; }
.bonus-transparent { background-color: $bonus-transparent; }
.pitfalls { background-color: $pitfalls; }
.pitfalls-transparent { background-color: $pitfalls-transparent; }
.path { background-color: $player-transparent }

$themes: (
    light: (
        primary: #86BBD8,
        secondary: #336699,
        text: #2F4858,
        button-background: #2F4858,
        button-text: #86BBD8,
        mask-background: #336699,
        mask-loader: #86BBD8,
        player: $player,
        player-transparent: $player-transparent,
        target: $target,
        target-transparent: $target-transparent,
        pitfalls: $pitfalls,
        pitfalls-transparent: $pitfalls-transparent,
    ),
    dark: (
        primary: #2F4858,
        secondary: #336699,
        text: #86BBD8,
        button-background: #86BBD8,
        button-text: #2F4858,
        mask-background: #336699,
        mask-loader: #86BBD8,
        player: $player,
        player-transparent: $player-transparent,
        target: $target,
        target-transparent: $target-transparent,
        pitfalls: $pitfalls,
        pitfalls-transparent: $pitfalls-transparent,
    ),
);