@font-face {
    font-family: 'Vincendo Regular';
    src: url('../fonts/vincendo/vincendo-regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Vincendo Italic';
    src: url('../fonts/vincendo/vincendo-italic.ttf') format("truetype");
}