@use '../colors';

.level-hint-container {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
    padding: .6rem 0;

    pointer-events: all;
    user-select: none;

    color: colors.$main-color-light;
    background-color: colors.$main-color-dark;

    display: flex;
    justify-content: center;

    transform: scaleY(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scaleY(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

.level-hint {
    margin: auto;
    max-width: calc(100% - 2rem);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Vincendo';
    font-size: 1.1rem;
    word-break: normal;
}

.level-cancel-button {
    
}