@use '../colors';

.level-cancel-button {
    pointer-events: all;
    position: relative;

    margin-top: auto;
    margin-bottom: 4rem;

    height: 15vw;
    width: 15vw;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: colors.$main-color-dark;
    border-radius: 50%;
    border: solid .3rem colors.$main-color-medium;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.routing>svg {
        animation: scale-breathing .5s linear infinite;
        transition: transform .2s linear;
    }

    &.moving>svg {
        animation: rotationcw 2s linear infinite .3s;
        transition: transform .2s linear;
    }

    &.active {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    &>svg {
        color: colors.$main-color-light;
        height: inherit;
        width: inherit;
    }
}

@media screen and (min-width: 380px) {
    .level-cancel-button {
        height: 4rem;
        width: 4rem;
    }
}