@use '../themes/mixins';
@use '../themes/colors';
@use 'sass:map';

html, body {
    font-family: 'Cabin';
    margin: 0;

    @include mixins.themify(colors.$themes) {
        transition: all .2s ease-in-out;
        background-color: mixins.themed('primary');
        color: mixins.themed('text');
    }
}