@use '../themes/mixins';
@use '../themes/colors';
@use 'sass:map';

.page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
    transition: transform .2s ease-in-out;

    &.previous {
        transform: translateX(-100%);
    }

    &.current {
        transform: translateX(0%);
    }

    &.next {
        transform: translateX(100%);
    }

    @include mixins.themify(colors.$themes) {
        transition: all .2s ease-in-out;
        background-color: mixins.themed('text');
        color: mixins.themed('primary');

        &.inactive {
            transition: all .2s ease-in-out;
            background-color: mixins.themed('inactive');
        }
    }
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    &.column {
        flex-direction: column;
    }

    &.centered {
        justify-content: center;
    }

    &.left {
        justify-content: start;
    }

    &.right {
        justify-content: end;
    }
}

.header {

}

.footer {
    > .button {
        margin: 1rem;
    }
}

.header-title {
    display: flex;
    align-items: center;
    font-family: 'Vincendo';
    font-size: 1.2rem;
}

.help-container {
    width: 100%;
    transition: all .2s ease-in-out;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.help-info {
    text-align: center;
    margin: .8rem;
}

.content {
    flex: 1;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;

    &.centered {
        align-items: center;
    }

    &.left {
        align-items: end;
    }

    &.right {
        align-items: start;
    }
}

.content-text {
    margin: 0 2rem;
    overflow: auto;
}

.credits {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    transition: all .2s ease-in-out;
}

.game-statistics {
    padding: 1rem;
}