@use '../colors';

.banner {
    position: absolute;
    z-index: 50;
    left: 0;

    width: 100%;
    overflow: hidden;
    pointer-events: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &.line { flex-direction: row; }
    &.column { flex-direction: column; }

    &.center { justify-content: center; }
    &.left { justify-content: start; }
    &.right { justify-content: end; }
}

.header {
    top: 0;
}

.content {
    width: 100%;
    overflow: hidden;

    display: flex;
    flex: 1;

    flex-direction: column;
    justify-content: center;

    gap: 1rem;

    &.center { align-items: center; }
    &.left { align-items: end; }
    &.right { align-items: start; }
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;

    background-color: colors.$main-color-light;
    opacity: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;

    transition: opacity .2s;
    &.loaded {
        opacity: 0;
        pointer-events: none;
    }
}

.loader {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    border-width: .4rem;
    border-style: solid;
    border-color: colors.$secondary-color-dark transparent;
    animation: rotationcw 1.2s linear infinite;
}