.banner {
    position: absolute;
    z-index: 50;
    left: 0;

    width: 100%;
    overflow: hidden;
    pointer-events: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &.line { flex-direction: row; }
    &.column { flex-direction: column; }

    &.center { justify-content: center; }
    &.left { justify-content: start; }
    &.right { justify-content: end; }
}

.header {
    top: 0;
}

.content {
    width: 100%;
    overflow: hidden;

    display: flex;
    flex: 1;

    flex-direction: column;
    justify-content: center;

    gap: 1rem;

    &.center { align-items: center; }
    &.left { align-items: end; }
    &.right { align-items: start; }
}