@use '../colors';

.title-name {
    position: absolute;
    z-index: 150;
    pointer-events: all;

    top: 20%;

    transition: transform .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: perspective(10rem) rotateX(30deg) rotateZ(-5deg) scaleX(0.8);

    &.animate { transform: unset; }
}

.title-letters {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Vincendo';
    font-size: 16vw;
    text-transform: uppercase;
    color: colors.$main-color-light;

    padding: .2rem 1.2rem;
    border-radius: .8rem;
    background-color: colors.$secondary-color-dark;
    border: solid .3rem colors.$main-color-light;

    transform: scale(0);
    transform-origin: center center;
    transition: transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    overflow: hidden;

    &.pop {
        transform: scale(1);
    }

    &.bounce {
        transform-origin: center right;
        animation: title-horizontal-bounce .4s linear;
    }

    text-shadow:
        1px 1px 0 colors.$main-color-medium,
        1px 2px 0 colors.$main-color-medium,
        1px 3px 0 colors.$main-color-medium,
        1px 4px 0 colors.$main-color-medium;
}

.title-letter {
    opacity: 0;
    transition: transform .4s cubic-bezier(0.5, 0, 0.75, 0);
    &.empty { width: 1rem; }
}

.title-buttons {
    position: absolute;
    z-index: 150;
    bottom: 20%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title-button {
    width: 100%;
    pointer-events: all;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform .3s ease-in;
    // transition: transform .3s cubic-bezier(0.5, 0, 0.75, 0);

    &.slide { transform: translateX(0%); }
    &.bounce { animation: title-horizontal-bounce .4s linear; }
}

.title-button-start {
    transform-origin: center left;
    transform: translateX(100%);
}

.title-button-credits {
    transform-origin: center right;
    transform: translateX(-100%);
}

.title-button-label {
    padding: .3rem .8rem;
    border-radius: .4rem;

    font-family: 'Vincendo';
    font-size: 7vw;
    text-transform: uppercase;
    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;

    &.clicked {
        animation: title-button-bounce .2s cubic-bezier(0.33, 1, 0.68, 1);
    }
}

.title-build {
    position: absolute;
    z-index: 150;
    bottom: 1rem;

    left: 50%;
    transform: translate(-50%, 200%);

    font-family: 'Vincendo';
    font-size: 3vw;
    padding: .2rem .4rem;

    color: colors.$main-color-light;
    background-color: colors.$secondary-color-dark;

    border-radius: .4rem;

    transform-origin: top center;
    &.slide {
        animation: title-build-animation .2s cubic-bezier(0.34, 1.56, 0.64, 1);
        transform: translate(-50%, 0%);
    }
}

@media screen and (min-width: 500px) {
    .title-letters { font-size: 5rem; }
    .title-button-label { font-size: 2rem; }
    .title-build { font-size: .9rem; }
}