@use '../colors';

.map-title {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: colors.$main-color-light;

    &.active {
        pointer-events: all;
    }
}

.title-name {
    position: absolute;
    z-index: 150;

    top: 20%;
    width: 0%;
    background-color: colors.$main-color-dark;
    padding: 1rem 0;

    transition: width .5s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: perspective(10rem) rotateX(30deg) rotateZ(-5deg) scaleX(0.8);

    &.slide {
        width: 200%;
    }
}

.title-letters {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Vincendo';
    font-size: 14vw;
    text-transform: uppercase;
    color: colors.$main-color-light;

    transform-origin: center right;
    &.bounce {
        animation: title-bounce .4s linear;
    }

    text-shadow:
        1px 1px 0 colors.$main-color-medium,
        1px 2px 0 colors.$main-color-medium,
        1px 3px 0 colors.$main-color-medium,
        1px 4px 0 colors.$main-color-medium;
}

.title-letter {
    transition: transform .3s cubic-bezier(0.64, 0, 0.78, 0);
}

.button-title-container {
    position: absolute;
    z-index: 150;
    bottom: 20%;
    right: -6rem;
}

.button-title {
    display: flex;
    justify-content: end;
    align-items: center;
    transform: perspective(10rem) rotateX(30deg) rotateZ(5deg) scale(0.8);
}

.button-title-label {
    padding: .5rem 6.5rem .5rem 1rem;
    border-radius: .4rem;

    font-family: 'Vincendo';
    font-size: 10vw;
    text-transform: uppercase;
    color: colors.$main-color-light;
    background-color: colors.$main-color-dark;

    transform-origin: center left;
    transform: translateX(100%);

    &.slide {
        animation: title-button-animation .3s cubic-bezier(0.34, 1.56, 0.64, 1);
        transform: translateX(0%);
    }
}

.title-build {
    position: absolute;
    z-index: 150;
    bottom: 1rem;

    left: 50%;
    transform: translate(-50%, 200%);

    font-family: 'Vincendo';
    font-size: .9rem;
    padding: .2rem .4rem;

    color: colors.$main-color-light;
    background-color: colors.$main-color-dark;

    border-radius: .4rem;

    transform-origin: top center;
    &.slide {
        animation: title-credits-animation .2s cubic-bezier(0.34, 1.56, 0.64, 1);
        transform: translate(-50%, 0%);
    }
}

@media screen and (min-width: 500px) {
    .title-letters { font-size: 4rem; }
    .button-title-label { font-size: 3rem; }
}

@media screen and (min-width: 800px) {
    .title-name { transform: unset; }
}