@use '../colors';

.experience-container {
    position: absolute;
    bottom: 0;
    height: calc(100% - 4.5rem);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-content {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.545, -0.215, 1.000, 0.470);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.075, 0.495, 0.320, 1.225);
    }

    &.top {
        margin-bottom: 1rem;
    }
}

.experience-text {
    width: 100%;
    pointer-events: all;
    border-top-right-radius: .4rem;
    border-bottom-left-radius: .4rem;

    background-color: colors.$secondary-color-dark;
    color: colors.$main-color-light;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    overflow: hidden;

    transform: scale(0);
    transition:
        border-radius .1s ease-in-out,
        transform .3s cubic-bezier(0.545, -0.215, 1.000, 0.470);

    &.pop {
        transform: scale(1);
        transition:
            border-radius .1s ease-in-out,
            transform .3s cubic-bezier(0.075, 0.495, 0.320, 1.225);
    }

    &.top {
        border-radius: 0 .4rem .4rem .4rem;
    }

    &.bottom {
        border-radius: .4rem .4rem 0 .4rem;
    }

    &.nobutton {
        border-radius: .4rem;
    }
}

.experience-presentation {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experience-presentation-paragraph {
    text-align: center;
}

.experience-presentation-title {
    font-family: 'Vincendo';
    font-size: 1.2rem;
}