@use '../colors';

$water-color: #90b2d1;
$stroke-width: .4rem;
$circle-radius: .6rem;

.piaget-tutorial {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.piaget-bottle {
    position: relative;
    margin: 0 1rem 1rem 1rem;
    background-color: colors.$main-color-light;
    border-radius: .4rem;

    &>svg {
        aspect-ratio: 1 / 1;
        width: min(40vw, 20vh);
        height: min(40vw, 20vh);
        max-width: 15rem;
        max-height: 15rem;
        display: block;

        &>.bottle {
            color: transparent;
            stroke: colors.$main-color-dark;
            stroke-width: $stroke-width;
        }

        &>.level {
            stroke: $water-color;
            stroke-width: $stroke-width;
        }
    }
}

.piaget-svg-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &>svg {
        height: inherit;
        width: inherit;

        &>circle {
            fill: $water-color;
            r: $circle-radius;
            transition: r .2s ease-in-out;

            &.hide {
                r: 0;
            }
        }

        &>line {
            stroke: $water-color;
            stroke-width: $stroke-width;

            transition: stroke-width .2s ease-in-out;

            &.hide {
                stroke-width: 0;
            }
        }
    }
}