@use '../colors';

$answer-color: #90b2d1;

$timer-color-normal: #bdcedd;
$timer-color-half: #e2c297;
$timer-color-quarter: #e69797;

.ptsot-characters-container {
    position: relative;
    background-color: colors.$main-color-light;
    border-radius: .4rem;

    width: calc(100% - 2rem);
    height: 25vh;

    &:last-child {
        margin-bottom: 1rem;
    }

    &:first-child {
        margin-top: 1rem;
    }
}

.ptsot-characters-text {
    text-align: center;
    padding: 0 1rem;

    &:last-child {
        margin-bottom: 1rem;
    }

    &:first-child {
        margin-top: 1rem;
    }
}

.ptsot-characters-character {
    position: absolute;
    transform: translate(-50%, -50%);

    &.rabbit {
        transform: translate(-38%, -50%);
    }

    &.eagle {
        transform: translate(-50%, -50%);
    }

    &.hunter {
        transform: translate(-54%, -69%);
    }

    &.snake {
        transform: translate(-50%, -67%);
    }

    &.pigeon {
        transform: translate(-56%, -45%);
    }

    &.zucchini {
        transform: translate(-52%, -49%);
    }

    &.cat {
        transform: translate(-48%, -58%);
    }
}

.ptsot-characters-name {
    position: absolute;
    color: colors.$main-color-dark;

    font-size: .9rem;
    text-transform: capitalize;

    &.rabbit {
        transform: translate(-131%, -56%);
    }

    &.eagle {
        transform: translate(-43%, 27%);
    }

    &.hunter {
        transform: translate(-30%, -136%);
    }

    &.snake {
        transform: translate(-73%, 21%);
    }

    &.pigeon {
        transform: translate(-63%, -132%);
    }

    &.zucchini {
        transform: translate(-74%, -138%);
    }

    &.cat {
        transform: translate(-64%, 27%);
    }
}

.ptsot-characters-point {
    position: absolute;
    transform: translate(-50%, -50%);
    height: .5rem;
    width: .5rem;
    background-color: white;
    outline: solid .2rem colors.$grey-extradark;
    border-radius: 50%;
}

.ptsot-svg-container {
    position: relative;
    background-color: colors.$main-color-light;
    border-radius: .4rem;

    height: 25vh;
    aspect-ratio: 1/1;

    &.tutorial {
        height: 25vh;
    }

    &:last-child {
        margin-bottom: 1rem;
    }

    &:first-child {
        margin-top: 1rem;
    }

    &>svg {
        &>.line1 {
            stroke: colors.$main-color-dark;
        }

        &>.line2 {
            stroke: $answer-color;
        }

        &>.point1 {
            r: .3rem;
            fill: colors.$main-color-dark;
        }

        &>.point2 {
            r: .3rem;
            fill: colors.$main-color-dark;
        }

        &>.point3 {
            r: .3rem;
            fill: $answer-color;
        }

        &>.circle {
            fill: transparent;
            stroke-width: .2rem;
            stroke: colors.$main-color-dark;
        }

        &>text {
            font-size: 1rem;
            fill: colors.$main-color-dark;
        }

        &>line {
            stroke-width: .2rem;
            transition: stroke-width .2s ease-in-out;

            &.hide {
                stroke-width: 0;
            }
        }

        &>circle {
            transition: r .2s ease-in-out;

            &.hide {
                r: 0;
            }
        }
    }
}

.ptsot-timer-container {
    height: .6rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    background-color: colors.$secondary-color-dark;
}

.ptsot-timer {
    height: inherit;
    width: 100%;
    background-color: $timer-color-normal;
    transition: background .2s ease-in-out;

    &.half {
        background-color: $timer-color-half;
    }

    &.quarter {
        background-color: $timer-color-quarter;
    }
}