@use '../colors';

$model-color: #806d54;
$answer-color: #537ca3;
$answer-color-light: #bed3e6;

.purdue-text {
    gap: 1rem;
}

.purdue-title {
    text-align: center;
    font-family: 'Vincendo';
    font-size: 1.2rem;
}

.purdue-test-container {
    display: flex;
    flex-direction: column;

    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    padding: 1rem;
    gap: 1rem;
}

.purdue-test-text {
    color: colors.$main-color-light;
    text-align: center;
}

.purdue-vector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1rem;
    min-height: 0;
    max-width: 100%;
    margin: 0 auto;
}

.purdue-vector {
    flex: 1;
    max-height: 100%;
    min-width: 0;
    aspect-ratio: 1/1;
    border-radius: .4rem;
    background-color: colors.$main-color-light;
    pointer-events: all;

    transition: background .1s ease-in-out;

    &>svg {
        height: 100%;
        width: 100%;
        fill: $model-color;
        pointer-events: none;

        transition: fill .1s ease-in-out;
    }

    &.answer>svg {
        fill: $answer-color;
    }

    &.active {
        background-color: $answer-color-light;
    }
}

.purdue-label {
    flex: 1;
    color: $answer-color-light;
    font-size: min(4vw, 3vh);
    text-align: center;
}

@media screen and (min-width: 500px) {
    .purdue-label {
        font-size: 1.2rem;
    }
}