@use '../colors';

$point-size: 2rem;

.sbsod-text {
    width: 100%;

    pointer-events: all;
    border-top-right-radius: .4rem;
    border-bottom-left-radius: .4rem;

    background-color: colors.$secondary-color-dark;
    color: colors.$main-color-light;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    overflow: hidden;

    transform: scale(0);
    transition: transform .3s cubic-bezier(0.545, -0.215, 1.000, 0.470);

    &.pop {
        transform: scale(1);
        transition: transform .3s cubic-bezier(0.075, 0.495, 0.320, 1.225);
    }
}

.sbsod-tutorial {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sbsod-tutorial-paragraph {
    text-align: center;
}

.sbsod-element {
    pointer-events: none;
}

.sbsod-questions {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sbsod-question {
    text-align: center;
    margin-bottom: .6rem;
}

.sbsod-answers {
    position: relative;
    height: $point-size;
    border-radius: .4rem;
    overflow: hidden;
}

.sbsod-points {
    position: absolute;
    z-index: 5;
    top: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sbsod-point {
    pointer-events: all;
    flex: 1;
    height: $point-size;
    background-color: colors.$main-color-light;
}

.sbsod-numbers {
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sbsod-number {
    flex: 1;
    height: $point-size;
    color: colors.$main-color-dark;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;

    transition: color .2s ease-in-out;

    &.active {
        color: colors.$main-color-light;
    }
}

.sbsod-choice {
    position: absolute;
    z-index: 8;
    top: 0;
    width: calc(100% / 7);

    background-color: colors.$main-color-dark;
    height: $point-size;

    transform: scale(0);
    transition:
        left .2s ease-in-out,
        transform .3s cubic-bezier(0.36, 0, 0.66, -0.56);

    &.pop {
        transform: scale(1);
        transition:
            left .2s ease-in-out,
            transform .3s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
}

.sbsod-scale {
    margin-top: .3rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: .9rem;
    font-style: italic;
}

.sbsod-scroll-indicator {
    width: 100%;
    height: 0;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    font-size: .9rem;
    line-height: 1.5rem;
    text-align: center;

    background-color: colors.$main-color-light;
    color: colors.$main-color-dark;
    transition: .2s height ease-in-out;

    &.active {
        height: 1.5rem;
    }
}

@media screen and (min-width: 500px) {
    .sbsod-questions {
        margin: 2rem;
    }
}