@use '../themes/mixins';
@use '../themes/colors';
@use 'sass:map';

html, body {
    font-family: 'Vincendo Regular';
    margin: 0;

    @include mixins.themify(colors.$themes) {
        background-color: mixins.themed('primary');
        color: mixins.themed('text');
    }
}

.application {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    transition: background .2s ease-in-out;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
    transition: transform .2s ease-in-out;

    &.previous {
        transform: translateX(-100%);
    }

    &.current {
        transform: translateX(0%);
    }

    &.next {
        transform: translateX(100%);
    }

    @include mixins.themify(colors.$themes) {
        background-color: mixins.themed('button-background');
        color: mixins.themed('button-text');
    }
}

.title {
    font-family: 'Vincendo Regular';
    font-size: 15vw;
    text-transform: uppercase;

    user-select: none;
}

.level-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 1rem;
    gap: 1rem;

    // @include mixins.themify(colors.$themes) {
    //     background-color: mixins.themed('button-background');
    //     color: mixins.themed('button-text');
    // }
}