@use '../themes/mixins';
@use '../themes/colors';
@use 'sass:map';

@use '../animations';

.ol-control {
    display: none;
}

.map {
    @include mixins.themify(colors.$themes) {
        background-color: mixins.themed('primary');
        color: mixins.themed('text');
    }
}

.map-game {
    position: relative;

    width: 100%;
    height: 100%;
}

.game-mode {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: .6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;

    transform: scale(1, 1);
    transition: transform .2s ease-in-out;

    & > svg {
        height: inherit;
        width: inherit;
    }

    &.collapse {
        transform: scale(0, 0);
    }
}

.game-visual-clue {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    opacity: 0;
    box-shadow: inset 0 0 3rem .4rem rgb(180, 6, 6);

    pointer-events: none;
    user-select: none;

    &.active {
        animation: opacity .5s ease-in-out;
    }
}

.game-hint {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    user-select: none;

    display: flex;
    justify-content: center;
}

.game-hint-text {
    margin: 1rem auto;
    padding: .4rem .6rem;
    text-align: center;
    border-radius: .3rem;
    word-break: normal;

    transform: scale(1, 1);
    transition: transform .2s ease-in-out;

    &.collapse {
        transform: scale(0, 0);
    }
}

.score-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 50;
    pointer-events: none;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.score-text {
    border-radius: .3rem;
    padding: .2rem .4rem;
    margin-bottom: 1rem;
}