@keyframes horizontal-bounce {
    0% { transform: scale(1); }
    10% { transform: scale(0.8, 1.2); }
    25% { transform: scale(1.15, 0.85); }
    55% { transform: scale(0.9, 1.1); }
    75% { transform: scale(1.05, 0.95); }
    100% { transform: scale(1); }
}

@keyframes full-bounce {
    0% { transform: scale(1); }
    20% { transform: scale(1.2); }
    40% { transform: scale(0.85); }
    60% { transform: scale(1.1); }
    80% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

@keyframes vertical-bounce {
    0% { transform: scale(1); }
    15% { transform: scale(1.2, 0.8); }
    40% { transform: scale(0.9, 1.1); }
    70% { transform: scale(1.05, 0.95); }
    100% { transform: scale(1); }
}

@keyframes page-button-bounce {
    0% { transform: scale(1); }
    20% { transform: scale(1.1, 0.9); }
    50% { transform: scale(0.95, 1.05); }
    100% { transform: scale(1); }
}

@keyframes build-button-bounce {
    0% { transform: scale(1) translate(-50%, 0%); }
    20% { transform: scale(1.1, 0.9) translate(-50%, 0%); }
    50% { transform: scale(0.95, 1.05) translate(-50%, 0%); }
    100% { transform: scale(1) translate(-50%, 0%); }
}

@keyframes button-vertical-bounce {
    0% { transform: scale(1, 0); }
    10% { transform: scale(0.9, 1.2); }
    25% { transform: scale(0.9, 1.2); }
    50% { transform: scale(0.9, 1.2); }
    75% { transform: scale(1.05, 0.95); }
    100% { transform: scale(1); }
}





@keyframes rotationccw {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotationcw {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes opacity { 
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}