@keyframes title-button-animation {
    0% { transform: translateX(100%); }
    70% { transform: translateX(-10%); }
    100% { transform: translateX(0%); }
}

@keyframes letter-slide-in {

}

@keyframes rotationccw {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

@keyframes rotationcw {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes opacity { 
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}