$main-color-light: #F7F2DA;
$main-color-medium: #cabfa3;
$main-color-dark: #917c5f;

$secondary-color-light: #e0ecc9;
$secondary-color-medium: #b8c4a2;
$secondary-color-dark: #8b9774;
$secondary-color-extradark: #687453;

$grey-extralight: #e6e6e6;
$grey-light: #c7c7c7;
$grey-medium: #929292;
$grey-dark: #646464;
$grey-extradark: #353535;

$score-helpers-light: #93c5da;
$score-helpers-dark: #5a8496;
$score-enemies-light: #da8b8b;
$score-enemies-dark: #9c6161;

$player: #6183af;
$player-transparent: #6183af7a;
$target: #68b362;
$target-transparent: #67b36280;
$helpers: #61afa8;
$helpers-transparent: #61afa880;
$enemies: #af6161;
$enemies-transparent: #af616142;

.enemies-map {
    background-color: $enemies;
}

.enemies-map-transparent {
    background-color: $enemies-transparent;
}

.routing-white {
    background-color: #b8b8b8;
}

.routing-sand {
    background-color: #CBB090;
}

.routing-brown {
    background-color: #8A7364;
}

.routing-grey {
    background-color: #8D8988;
}

// .player { background-color: $player; }
// .player-transparent { background-color: $player-transparent; }
// .target { background-color: $target; }
// .target-transparent { background-color: $target-transparent; }
// .helpers { background-color: $helpers; }
// .helpers-transparent { background-color: $helpers-transparent; }
// .enemies { background-color: $enemies; }
.enemies-transparent {
    background-color: $enemies-transparent;
}

// .path { background-color: $player-transparent }