$main-color-light: #F7F2DA;
$main-color-medium: #cabfa3;
$main-color-dark: #917c5f;

$secondary-color-light: #e0ecc9;
$secondary-color-medium: #b8c4a2;
$secondary-color-dark: #8b9774;

$player: #6183af;
$player-transparent: #6183af7a;
$target: #68b362;
$target-transparent: #67b36280;
$bonus: #61afa8;
$bonus-transparent: #61afa880;
$pitfalls: #af6161;
$pitfalls-transparent: #af616177;

.player { background-color: $player; }
.player-transparent { background-color: $player-transparent; }
.target { background-color: $target; }
.target-transparent { background-color: $target-transparent; }
.bonus { background-color: $bonus; }
.bonus-transparent { background-color: $bonus-transparent; }
.pitfalls { background-color: $pitfalls; }
.pitfalls-transparent { background-color: $pitfalls-transparent; }
.path { background-color: $player-transparent }