@font-face {
    font-family: 'Vincendo';
    src: url('../fonts/vincendo/vincendo-regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Vincendo';
    src: url('../fonts/vincendo/vincendo-italic.ttf') format("truetype");
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/cabin/cabin-regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/cabin/cabin-italic.ttf') format("truetype");
    font-style: italic;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/cabin/cabin-bold.ttf') format("truetype");
    font-weight: bold;
}