@use "../../node_modules/ol/ol.css";

#map {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &.active {
        pointer-events: all;
    }
}
  
.ol-zoom {
    display: none;
}