@use 'menu/application';
@use 'menu/page';
@use 'menu/button';
@use 'menu/form';
@use 'menu/tutorial';
@use 'themes/fonts';
@use 'menu/elements';

@use 'themes/mixins';
@use 'themes/colors';
@use 'sass:map';

.title {
    font-family: 'Vincendo';
    font-size: 12vw;
    text-transform: uppercase;

    user-select: none;
    transition: color .2s ease-in-out;
}

@media screen and (min-width: 600px) {
    .title {
        font-size: 5rem;
    }
}